.app {
  width: 100%;
  background-color: #edeef0;
}
.app__wrapper {
  display: grid;
  grid-template-columns: 135px 10fr;
  gap: 10px;
  margin-top: 15px;
  padding: 0 0 0 5px;
}
.container {
  width: 100%;
  max-width: 990px;
  padding: 0 15px;
  margin: 0 auto;
}
.divider {
  height: 1px;
  background-color: #dce1e6;
  margin: 10px auto;
  width: 100%;
}

